[submodule "dotfiles/vim/bundle/vim-polyglot"]
	path = dotfiles/vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "dotfiles/vim/bundle/vim-sneak"]
	path = dotfiles/vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "dotfiles/vim/bundle/vim-commentary"]
	path = dotfiles/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotfiles/vim/bundle/vim-repeat"]
	path = dotfiles/vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
